{% extends "layout.html" %}

{% block title %}
Edit Author
{% endblock %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="mdl-typography--headline">Edit Author</h2>

        <form method="POST" action="{{ url_for('authors.edit', author_id=author.id) }}">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="name" name="name" value="{{ author.name }}" required>
                <label class="mdl-textfield__label" for="name">Name</label>
            </div>
            
            <div class="mdl-card__actions">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Save Changes
                </button>
                <a href="{{ url_for('authors.list') }}" class="mdl-button mdl-js-button mdl-button--raised">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}