{% extends "layout.html" %}

{% block title %}
Edit Book
{% endblock %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="mdl-typography--headline">Edit Book</h2>

        <form method="POST" action="{{ url_for('books.edit', book_id=book.id) }}">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="title" name="title" value="{{ book.title }}" required>
                <label class="mdl-textfield__label" for="title">Title</label>
            </div>

            {# show link to author when available #}
            {% if book.author is defined and book.author %}
                <p class="mdl-typography--body-1">
                    Author:
                    <a href="{{ url_for('authors.edit', author_id=book.author.id) }}" class="mdl-button mdl-js-button mdl-button--link">
                        {{ book.author.name }}
                    </a>
                </p>
            {% elif book.author_id is defined and book.author_id %}
                <p class="mdl-typography--body-1">
                    Author:
                    <a href="{{ url_for('authors.edit', author_id=book.author_id) }}" class="mdl-button mdl-js-button mdl-button--link">
                        {{ book.author_name if book.author_name is defined else ('Author #' ~ book.author_id) }}
                    </a>
                </p>
            {% endif %}
            
            <div class="mdl-card__actions">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Save Changes
                </button>
                <a href="{{ url_for('books.list') }}" class="mdl-button mdl-js-button mdl-button--raised">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}