{% extends "layout.html" %}
{% from "macros/grid.html" import data_grid %}

{% block title %}Book store{% endblock %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="mdl-typography--headline">Books List</h2>
        
        {{ data_grid(
            id='books',
            columns=[
                {'key': 'id', 'label': 'ID'},
                {'key': 'title', 'label': 'Title'},
                {'key': 'author_name', 'label': 'Author'}
            ],
            data=data,
            edit_url='books.edit',
            delete_url='books.delete',
            id_param='book_id'
        ) }}
    </div>
</div>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored fab-bottom-right" 
        onclick="location.href='{{ url_for('books.create') }}'">
    <i class="material-icons">add</i>
</button>
{% endblock %}